body {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: #eae7dc;
}

h1 {
    text-align: center;
    color: #e85a4f;
}

img {
    width: 300px;
    height: auto;
    /* Center the image */
    display: block;
    margin: 0 auto;
}
